/*

* Override Pages default styles or create your own styles here

*/

.btn-whatsapp {
	background-color: #075e54;
	border-color: #075e54;
	color: #fff;
}

.btn-whatsapp:hover {
	background-color: #075e54;
	border-color: #075e54;
	color: #fff;
}

.btn-instagram {
	background-color: #833ab4;
	border-color: #833ab4;
	color: #fff;
}

.btn-instagram:hover {
	background-color: #833ab4;
	border-color: #833ab4;
	color: #fff;
}

.btn-compartilhar {
	color: #fff;
	background-color: #3b5998;
	border-color: #3b5998;
}

.btn-compartilhar:active {
	color: #fff;
	background-color: #3b5998;
	border-color: #3b5998;
}

.btn-compartilhar:hover {
	background-color: #3b5998;
	border-color: #3b5998;
	color: #fff;
}